

    <div class="container-fluid">

        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="navbar-toggler-icon"></span>
            </button> <a class="navbar-brand" href="#">Eat & Run</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider">
                            </div> <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Hi!! Pawan Sachitha <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a>
                            <span style="cursor:pointer" onclick="openNav()">
                                <i class="fas fa-user-circle fa-w-16 fa-2x icon-color"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


    </div>
    

        


        <div class="sidebar left">
            <ul class="list-sidebar bg-defoult">
                <li>
                    <a routerLink="/admin-home" routerLinkActive="active" >
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label">  </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin-gain" routerLinkActive="active">
                        <i class="fas fa-chart-line"></i>
                        <span class="nav-label">  </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin-users" routerLinkActive="active">
                        <i class="fas fa-users"></i> <span class="nav-label">  </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin-menu" routerLinkActive="active">
                        <i class="fas fa-hamburger"></i>
                        <span class="nav-label">  </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin-command" routerLinkActive="active">
                        <i class="fas fa-plane-departure"></i>
                        <span class="nav-label">  </span>
                    </a>
                </li>
            </ul>
        </div>
   
    
    
 
